<h2> <%= @shift.organization.name %> </h2>
<h3> Edit Shift</h3>
<%=form_with(model: @shift, method: :patch) do |f| %>
  Employee: <%=  f.label @shift.user.name %><br>
  Shift date: <%= f.date_field :date, value: form_date(@shift) %><br>
  Start time: <%= f.time_field :start_time, value: form_start_time(@shift) %><br>
  End time: <%= f.time_field :end_time, value: form_end_time(@shift) %><br>
  <% @shift.breaks.each do |b| %>
    Break length (minutes): <%= b.number_field b.duration %><br>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>
  <%= button_to "Update", edit_shift_path(@shift), method: :patch %>
<% end %>
