<h1> <%= @organization.name %> </h1>
<h3>Shifts</h3>
<table>
  <tr>
    <th>Employee name</th>
    <th>Shift date</th>
    <th>Clock in</th>
    <th>Clock out</th>
    <th>Break length(minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>
  <% @organization.shifts.each do |o| %>
    <tr>
      <td><%= o.user.name%></td>
      <td><%= o.display_date%></td>
      <% if o.start %>
        <td><%= o.start.strftime("%H:%M %p")%></td>
      <%end%>
      <% if o.start %>
        <td><%= o.end.strftime("%H:%M %p")%></td>
      <%end%>
      <td><%= o.breaks.ids%></td>
      <% if o.start %>
        <td><%= o.hours_worked%></td>
      <%end%>
      <% if o.organization.hourly_rate %>
        <td><%= o.cost%></td>
      <%end%>
      <td><%= button_to "Edit", edit_shift_path(id: o.id), method: :get %></td>
    </tr>
  <% end %>
</table>
