<%= button_to "Home", '/organizations' %> <br>
<h1> <%= @organization.name %> </h1>
<h3>Shifts</h3>
<% if flash[:shift_error] %>
  <h2><% flash[:shift_error] %></h2>
<% end %>
<table>
  <tr>
    <th>Employee name</th>
    <th>Shift date</th>
    <th>Clock in</th>
    <th>Clock out</th>
    <th>Break length(minutes)</th>
    <th>Hours worked</th>
    <th>Shift cost</th>
  </tr>
  <% @organization.shifts.each do |o| %>
    <tr>
      <td><%= o.user.name%></td>
      <td><%= o.display_date%></td>
      <% if o.start %>
        <td><%= o.start.strftime("%H:%M %p")%></td>
      <%end%>
      <% if o.start %>
        <td><%= o.end.strftime("%H:%M %p")%></td>
      <%end%>
      <td><%= o.sum_breaks%></td>
      <% if o.start %>
        <td><%= o.hours_worked%></td>
      <%end%>
      <% if o.organization.hourly_rate %>
        <td>$<%= o.cost%></td>
      <%end%>
      <td><%= button_to "Edit", edit_shift_path(id: o.id), method: :get %></td>
    </tr>
  <% end %>
</table>
<h2>Create Shift</h2>
<%=form_with method: :post do |f| %>
  Employee: <%=  f.label Current.user.name %><br>
  Shift date: <%= f.date_field :date, value: form_date(@shift) %><br>
  Start time: <%= f.time_field :start_time, value: form_start_time(@shift) %><br>
  End time: <%= f.time_field :end_time, value: form_end_time(@shift) %><br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>
  <%= hidden_field_tag :organization_id, @organization.id %><br>
  <%= hidden_field_tag :user_id, Current.user.id%><br>
  <%= button_to "Create", organization_path, method: :post %>
<% end %>
<!--
<%= form_with method: :post do |f| %>
<%= f.date_select :start_date %> <br>
<%= f.text_field :start_time %> <br>
<%= f.text_field :end_time %> <br>
<%= button_to "Create", organization_path, method: :post %>
<% end %>
